Repository ilfm/toongather, pull requests merged in 2025-03, with the labels that each got.

#33 [리뷰] 리뷰 삭제 기능 구현 및 테스트 코드 작성
  src/main/java/com/toongather/toongather/domain/review/dto/CreateReviewRequest.java
  src/main/java/com/toongather/toongather/domain/review/repository/ReviewKeywordJpaRepository.java
  src/main/java/com/toongather/toongather/domain/review/repository/ReviewKeywordRepository.java
  src/main/java/com/toongather/toongather/domain/review/service/ReviewKeywordService.java
  src/main/java/com/toongather/toongather/domain/review/service/ReviewService.java
  src/test/java/com/toongather/toongather/domain/review/repository/ReviewKeywordRepositoryTest.java
  src/test/java/com/toongather/toongather/domain/review/service/ReviewServiceTest.java
Labels: feature, test

#32 [공통] 커스텀 예외 추가
  src/main/java/com/toongather/toongather/domain/member/service/MemberService.java
  src/main/java/com/toongather/toongather/domain/webtoon/service/WebtoonService.java
  src/main/java/com/toongather/toongather/global/common/error/CommonError.java
  src/main/java/com/toongather/toongather/global/common/error/CommonErrorInfo.java
  src/main/java/com/toongather/toongather/global/common/error/custom/MemberException.java
  src/main/java/com/toongather/toongather/global/common/error/custom/WebtoonException.java
Labels: feature, refactor

#37 [리뷰] 리뷰 기록 등록/수정/삭제 기능 구현 및 테스트 코드 작성
  src/main/java/com/toongather/toongather/domain/review/domain/Review.java
  src/main/java/com/toongather/toongather/domain/review/domain/ReviewRecord.java
  src/main/java/com/toongather/toongather/domain/review/dto/CreateReviewRecordRequest.java
  src/main/java/com/toongather/toongather/domain/review/dto/CreateReviewRecordResponse.java
  src/main/java/com/toongather/toongather/domain/review/dto/ReviewRecordRequest.java
  src/main/java/com/toongather/toongather/domain/review/repository/ReviewRecordRepository.java
  src/main/java/com/toongather/toongather/domain/review/service/ReviewRecordService.java
  src/main/java/com/toongather/toongather/domain/review/service/ReviewService.java
  src/test/java/com/toongather/toongather/domain/review/service/ReviewRecordServiceTest.java
Labels: feature, test

#40 [리뷰] 리뷰 등록/수정/삭제 테스트 코드 리팩토링, 키워드 등록 기능 분리
  src/main/java/com/toongather/toongather/domain/keyword/service/KeywordService.java
  src/main/java/com/toongather/toongather/domain/review/domain/ReviewKeyword.java
  src/main/java/com/toongather/toongather/domain/review/dto/CreateReviewKeywordRequest.java
  src/main/java/com/toongather/toongather/domain/review/dto/CreateReviewRequest.java
  src/main/java/com/toongather/toongather/domain/review/dto/request/UpdateReviewKeywordRequest.java
  src/main/java/com/toongather/toongather/domain/review/repository/ReviewKeywordRepository.java
  src/main/java/com/toongather/toongather/domain/review/service/ReviewKeywordService.java
  src/main/java/com/toongather/toongather/domain/review/service/ReviewService.java
  src/test/java/com/toongather/toongather/domain/review/service/ReviewKeywordServiceTest.java
  src/test/java/com/toongather/toongather/domain/review/service/ReviewServiceTest.java
Labels: feature, refactor, test

#42 [리뷰] 리뷰 기록 조회, 친구에게 평가 공유 조회 기능 추가
  src/main/java/com/toongather/toongather/domain/review/dto/ReviewRecordResponse.java
  src/main/java/com/toongather/toongather/domain/review/dto/ReviewShareRequest.java
  src/main/java/com/toongather/toongather/domain/review/dto/ReviewShareResponse.java
  src/main/java/com/toongather/toongather/domain/review/repository/ReviewRecordRepository.java
  src/main/java/com/toongather/toongather/domain/review/service/ReviewRecordService.java
  src/main/java/com/toongather/toongather/domain/review/service/ReviewService.java
  src/main/java/com/toongather/toongather/global/common/error/CommonError.java
  src/main/java/com/toongather/toongather/global/common/error/custom/ReviewException.java
  src/test/java/com/toongather/toongather/domain/review/repository/ReviewJpaRepositoryTest.java
  src/test/java/com/toongather/toongather/domain/review/repository/ReviewKeywordRepositoryTest.java
  src/test/java/com/toongather/toongather/domain/review/repository/ReviewRecordRepositoryTest.java
  src/test/java/com/toongather/toongather/domain/review/service/ReviewRecordServiceTest.java
Labels: feature
